<div class="rounded mx-auto d-block text-center">
  <a routerLink="/" class="nav-brand logo">
    <img src="../assets/star-wars.png" alt="star-wars" class="">
  </a>
</div>
<div class="container">
  <div class="row">
    <div class="card col-md-3 col-sm-12" style="margin-left: 5%;">
        <i class="fas fa-film fa-5x text-center"></i>
      <div class="card-body">

      </div>
    </div>
    <div class="card col-md-3 col-sm-12" style="margin-left: 5%;">
        <i class="fas fa-user-astronaut fa-5x text-center"></i>
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card col-md-3 col-sm-12" style="margin-left: 5%;">
        <i class="fab fa-deskpro fa-5x text-center"></i>
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <div class="row">
      <div class="card col-md-3 col-sm-12" style="margin-left: 5%;">
          <i class="fas fa-space-shuttle fa-5x text-center"></i>
        <div class="card-body">
            <i class="fas fa-film"></i>
        </div>
      </div>
      <div class="card col-md-3 col-sm-12" style="margin-left: 5%;">
          <i class="fas fa-globe fa-5x text-center"></i>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card col-md-3 col-sm-12" style="margin-left: 5%;">
          <i class="fab fa-pushed fa-5x text-center"></i>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>


<router-outlet></router-outlet>
