<div class="container formulario col-sm-12 col-md-3">
<div class="card">
  <div class="card-header text-center">

    <i class="fas fa-users"></i>
  </div>
  <div class="card-body ">
    <form class="form-horizontal" [formGroup]="formulario" (ngSubmit)="createEmail()">
      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="text" formControlName="email" id="email" class="form-control" placeholder="Email@email.com">
        <div class="alert alert-danger" *ngIf="">

        </div>
      </div>
      <div class="form-group">
          <label for="senha">Senha</label>
          <input type="text" formControlName="senha" id="senha" class="form-control" placeholder="Senha com no mínimo 6 digitos">
          <div class="alert alert-danger" *ngIf="">

          </div>
        </div>

          <button class="btn btn-dark col-md-12" type="submit">Enviar</button>

    </form>
    <button class="btn btn-danger col-md-12 google" (click)="google()">Google</button>
    <button class="btn face col-md-12">Facebook</button>
  </div>
</div>
</div>
